body {
  background-color: rgb(249, 245, 241);
}
.row {
  background-color: #fffefc;
}
.list-group-item {
  display: flex;
}
.delete {
  margin-left: auto;
  color: grey;
}

.rounded-circle {
  margin-right: 10px;
}
